.wrapper {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
  gap: 16px;

  h1 {
    text-transform: uppercase;
  }

  img {
    image-rendering: pixelated;
    margin: 0 auto;
  }
}

.panel {
  background-color: hsl(357deg 75% 45%);
  display: flex;
  flex-direction: column;
  border: var(--border);

  width: 400px;

  &.left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &.right {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.status-bar {
  background-color: hsl(357deg 86% 55%);
  height: 100px;
  padding: 12px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: var(--border);

  clip-path: url(#pokedexCutout);
}
