@keyframes growFromLeft {
  from {
    clip-path: polygon(0 0, 0 0, 0 1, 0 1);
  }

  to {
    clip-path: polygon(0 0, 1 0, 1 1, 0 1);
  }
}

.bar-graph {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.bar {
  --bar-height: 16px;
  height: var(--bar-height);
  width: calc(var(--bar-length) * 180);
  background-color: var(--bar-color);

  border: 1px solid black;
  position: relative;

  animation: growFromLeft 2s both;
}

.stat {
  display: flex;
  align-items: center;

  .label {
    width: 60px;
    text-align: right;
    margin-right: 6px;
  }
}

.value {
  margin-left: 6px;
}

.hex-graph {
  border: 1px solid black;

  .background {
    width: 200px;
    height: 200px;
    background-color: teal;
    margin: 0 auto;
  }
}
