.wrapper {
  filter: drop-shadow(-1px 1px 0px var(--color))
    drop-shadow(-2px 2px 0px var(--color))
    drop-shadow(-3px 3px 0px var(--color))
    drop-shadow(-2px 2px 0px var(--border-color));

  position: relative;
  bottom: 10px;
  left: 8px;
}
