.wrapper {
  --bezel-width: 50px;
  --height: 250px;
  --width: 300px;
  --screen-height: calc(var(--height) - var(var(--bezel-width)));
  --screen-width: calc(var(--width) - var(var(--bezel-width)));

  height: var(--height);
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  border: var(--border);

  border-radius: 1rem;
}

.screen {
  height: var(--screen-height);
  width: var(--screen-width);

  padding: 8px;
  border-radius: 0.5rem;
  background-color: yellowgreen;
  border: 2px solid hsl(0deg 0% 0% / 0.3);
}
