.wrapper {
  --bezel-width: 50px;
  --height: 250px;
  --width: 325px;
  --screen-height: 200px;
  --screen-width: 200px;

  height: var(--height);
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin: 0 auto;
  border: var(--border);

  border-radius: 8px;
  position: relative;
}

.screen {
  height: var(--screen-height);
  width: var(--screen-width);

  padding: 8px;
  border-radius: 0.5rem;
  background-color: var(--bgColor);
  border-left: 2px black solid;
  border-bottom: 2px black solid;
  border-top: 3px hsl(0deg 0% 0% / 0.6) solid;
  border-right: 3px hsl(0deg 0% 0% / 0.6) solid;
}

.speaker-slots {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 9px;
  top: 48px;

  .slot {
    height: 5px;
    width: 42px;
    background-color: hsl(0deg 0% 50%);
    border: 2px solid black;
    border-radius: 100px;
  }
}

.top-buttons {
  position: absolute;
  display: flex;
  top: 6px;
  gap: 24px;
}

.left-buttons {
  position: absolute;
  left: 24px;
  bottom: 24px;
}
