.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.status-light {
  &:not(:first-child) {
    margin-top: 3px;
  }

  --color: hsl(0deg 0% 0% / 1);
  --size: 48px;
  --bezel-size: 12px;
  --bezel-color: hsl(0deg 0% 92% / 1);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--bezel-color);
  border: var(--border);

  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    border: var(--border);
    content: "";
    height: calc(var(--size) - var(--bezel-size));
    width: calc(var(--size) - var(--bezel-size));
    background-color: var(--color);
    border-radius: 50%;
  }
}
