.wrapper {
  list-style-type: none;
  display: flex;

  li {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 0.7rem;
    padding: 2px 8px;
    background-color: var(--color);
    color: black;
  }
}
