.circle-button {
  height: var(--size);
  width: var(--size);
  background-color: var(--color);

  border: var(--border);
  border-radius: 50%;
}

.rect-button {
  height: var(--height);
  width: var(--width);
  background-color: var(--color);

  border: var(--border);
  border-radius: 4px;
}
