.wrapper {
  user-select: none;

  .screen {
    padding: 12px;
    color: white;
    border: var(--border);
    background-color: hsl(0deg 0% 14%);
    height: 170px;
    width: 300px;
    text-transform: uppercase;
    border-radius: 8px;
    overflow: auto;

    h1 {
      font-size: 1.3rem;
      line-height: 1;
    }
  }
}
